 
<main>
<div id="cart-container">
    
    
<h2>Cart</h2>
    <div id="cart">
        <div id="items-container">
            {{!-- {{#if user.cart}}
                {{#each user.cart}}

                    <div class="item" data-id="{{this._id}}">
                        
<div class="item-specs">

      <span class="cart-item-name pointer" data-id="{{this.id}}">
          <a href="/books/book?id={{this._id}}">
              <img src="{{this.url}}" style="width:25px">
              <span>{{this.name}}</span>
          </a>
      
      
      </span>


      <span class="cart-item-price">
      {{this.price}} 
       </span>

      <div class="counter">
          <button class="subtract count-btn" data-id="{{
            this._id
          }}" data-current-quantity="{{this.quantity}}">
              -
          </button><span class="amount-of-item">
          {{this.quantity}}
          </span><button class="add count-btn" data-id="{{
            this._id
          }}" data-current-quantity="{{this.quantity}}">
              +
          </button>
      </div>


      <span class="cart-item-price">
          {{multiply this.quantity this.price}} 
      </span>
  </div>


<button class="remove-from-cart" data-id="{{this._id}}">X</button>
                    </div>


                {{/each}}


             {{/if}} --}}
        </div>
        <div class="options-container">
            <p id="cart-message">No Items in cart</p>
            <h3>Total: <span id="total-cart">
                0
            </span> </h3>
            <button id="checkout-btn" class="pointer">Checkout</button></div>
        </div>
    </div>
</main>